
.app-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
  }
  
  .app-container table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .app-container th,
  .app-container td {
    border: 1px solid #ffffff;
    text-align: left;
    padding: 8px;
    font-size: 32px;
  }
  
  .app-container th {
    background-color:#3CB371;
     color:white;
  }
  
  .app-container td {
    background-color: #D3D3D3;
  }
  
  .app-container form {
    display: flex;
    gap: 5px;
  }
  
  .app-container form td:last-child {
    display: flex;
    justify-content: space-evenly;
  }
  
  .app-container form * {
    font-size: 28px;
  }
  
  
  
